body{

}

    .header{
        background-color: #fff;
        display: inline-block;
        float: left;
        width: 1000px;
        margin-left: calc(50% - 500px);
        line-height: 20px;
        padding: 5px 10px 20px 5px;
        position: relative;
        border-bottom: 2px solid #dddc;
    }
    .header > .link{
        display: inline-block;
        float: left;
    }
        .header > .link2{
            display: inline-block;
            float: right;

        }   
        .header > .dot{
            height: 3px;
            width: 3px;
            border-radius: 50%;
            color: #5390e2;
            display: inline-block;
            float: right;
            margin: 10px;
            line-height: 20px;
        }
            .link > .first{
                display: inline-block;
                float: left;
                color: #7e757c;
                text-decoration: none;
                font-size: 15px;
                line-height: 20px;
                padding: 1px 10px;
                border: 1px solid #7e757c;
                border-radius: 7px;
        }
            .link2 > .second{
                float: left;
                color: #5390e2;
                text-decoration: none;
                line-height: 20px;
                font-size: 15px;
                padding: 1px 5px;
            }
        .header > .logo{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .background{
            width: 1000px;
            background-image: url(../img/kompiuteris.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 100vh;
            margin-left: calc(50% - 500px);
        }
    .main{
        display: inline-block;
        float: left;
        width: 1000px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    

    }

        .title{
            display: inline-block;
            float: left;
            width: 500px;
            margin-left: 50px;
            padding-bottom: 50px;
            text-align: center;
        }
        .par{
            display: inline-block;
            float: left;

            margin-left: 50px;
            padding-bottom: 50px;

        }
        .footer{
            display: inline-block;
            float: left;
            width: 600px;

            margin-left: 50px;

        }
            .footer > .btn-left{
                display: inline-block;
                float: left;
                color: white;
                 text-decoration: none;
                font-size: 20px;
                line-height: 20px;
                padding: 10px 15px;
                border: 1px solid transparent;
                border-radius: 5px;
                margin-right: 10px;
                background-color: blue;


            }
            .btn-right{
                display: inline-block;
                float: left;
                color: blue;
                 text-decoration: none;
                font-size: 20px;
                line-height: 20px;
                padding: 10px 15px;
                border: 1px solid blue;
                border-radius: 5px;
                margin-right: 10px;

            }